name: histomil
channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - git
  - pip:
    - git+https://github.com/GabrielCabas/MIL-Lab.git #Replace it with original when the PR is merged
    - pandas
    - scikit-learn
    - tqdm
    - seaborn
    - matplotlib